<ion-content>
  <swiper 
    [pagination]="true" 
    [scrollbar]="false"
    (slideChangeTransitionEnd)="onSlideChange()"
    (swiper)="setSwiperInstance($event)"
  >

    <ng-template 
      swiperSlide 
      class="ion-padding slide1"
    >
      <h1 class="big-header ion-text-uppercase">What is your starting value?</h1>
      <h2 class="input-value" (click)="showKeyboardInitialValue()">{{ startingValue }}</h2>  
    </ng-template>

    <ng-template 
      swiperSlide 
      class="ion-padding slide2"
    >
      <h1 class="big-header ion-text-uppercase">What is the percentage?</h1>
      <h2 class="input-value">800%</h2>
    </ng-template>

    <ng-template 
      swiperSlide 
      class="ion-padding slide3"
    >
      <h1 class="big-header ion-text-uppercase">Result</h1>
    </ng-template>

  </swiper>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button 
      shape="round" 
      fill="outline" 
      size="medium" 
      color="dark" 
      expand="full"
      (click)="previousSlide()"
    >
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    </ion-col>
    <ion-col class='ion-text-right'>
      <ion-button 
      shape="round" 
      fill="outline" 
      size="medium" 
      color="dark" 
      expand="full" 
      (click)="nextSlide()"
    >
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
    </ion-col>
  </ion-row>

</ion-footer>

<app-numeric-keyboard 
  #numericKeyPad 
  (updatedValue)="onUpdatedValue($event)"
  (close)="onKeyboardClose()"
></app-numeric-keyboard>