<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Percentage Calculator</ion-title>
  </ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col  size="10" sizeXs="12" sizeLg="10" sizeMd="10">
        <ion-item>
          <ion-input type="number" placeholder="Enter your starting value" [(ngModel)]="inputValues.startValue" (ionChange)="onValueChanged()" debounce="250" readonly="true" (ionFocus)="showNumericKeyPad($event)"></ion-input>
        </ion-item>        
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label slot="end">%</ion-label>
          <ion-input type="number" placeholder="Enter percentage" [(ngModel)]="inputValues.procentage" (ionChange)="onProcentageChanged()" debounce="250" readonly="true" (ionChange)="onValueChanged()" debounce="500" readonly="true" (ionFocus)="showNumericKeyPad($event)"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header> -->

<ion-content>
  <swiper 
    [pagination]="true" 
    [scrollbar]="false"
    (slideChangeTransitionEnd)="onSlideChange()"
    (swiper)="setSwiperInstance($event)"
  >
  
    <ng-template 
      swiperSlide 
      class="ion-padding slide1"
    >
      <h1 class="ion-text-uppercase">What is your starting value?</h1>
      <h2 (click)="showKeyboardInitialValue()">{{ startingValue }}</h2>  
    </ng-template>

    <ng-template 
      swiperSlide 
      class="ion-padding slide2"
    >
      <h1 class="ion-text-uppercase">What is the percentage?</h1>
    </ng-template>

    <ng-template 
      swiperSlide 
      class="ion-padding slide3"
    >
      Slide 3
    </ng-template>

  </swiper>
</ion-content>

<app-numeric-keyboard 
  #numericKeyPad 
  (updatedValue)="onUpdatedValue($event)"
  (close)="onKeyboardClose()"
></app-numeric-keyboard>