<ion-header>
  <ion-toolbar>
    <ion-title>Percentage Calculator</ion-title>
  </ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col  size="10" sizeXs="12" sizeLg="10" sizeMd="10">
        <ion-item>
          <ion-input type="number" placeholder="Enter your starting value" [(ngModel)]="inputValues.startValue" (ionChange)="onValueChanged()" debounce="500"></ion-input>
        </ion-item>        
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label slot="end">%</ion-label>
          <ion-input type="number" placeholder="Enter percentage" [(ngModel)]="inputValues.procentage" (ionChange)="onProcentageChanged()" debounce="500"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-card class='resultCard'>  
    <ion-card-content class="ion-text-center">
      <ion-text color="primary">
        <h1>{{ resultValues.salePrice }}</h1>
      </ion-text>
      <ion-text color="primary">
        <h3>You saved {{ resultValues.reduction }}</h3>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
